.App {
  text-align: center;
  height: 100%;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* 
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */ */


.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.landingimg-1, .landingimg-2, .landingimg-3 {
  position: relative;
  opacity: 0.65;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landingimg-1 {
  background-image: url(../public/images/B3E18D2A-5984-4B05-BF6D-EC3B491105BB.JPG);
  min-height: 85vh;
}

.landingimg-2 {
  background-image: url(../public/images/IMG_2992.jpg);

  min-height: 40vh;
}

.landingimg-3 {
  background-image: url("https://images.pexels.com/photos/20787/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350");
  min-height: 100%;
}